.cards {

}

.card {
}

.user{
    display: flex;
    margin: 100px;
    margin-top: 60px;
}
.card img {
    object-fit: cover;
    width: 400px;
    height: 100%;
}

h2{
    padding-top: 50px;
    text-align: center;
}

p{
    font-size: larger;
}